@import "tailwindcss";

:root {
  --primary: #0F172A;
  --secondary: #3B82F6;
  --accent: #10B981;
  --bg-color: #F8FAFC;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--primary);
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#root {
  width: 100%;
}
